.btn {
	height: 25px;
	width: 150px;
}

.form-control {
	height: 25px;
	width: 300px;
}

.form-control-mini {
	height: 25px;
	width: 90px;
}

.leftstr, .rightstr {
	width: 50%;
	float: left;
}

.rightstr {
	float: right;
}